* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #B91450;
    font-family: 'Poppins', sans-serif;;
}
section{
    padding: 30px 50px;
}
h1 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
.container{
    margin: 20px auto;
    padding: 30px 50px;
    background-color: #ffffff;
    border-radius: 10px;
}
.d-flex{
    display: flex;
    padding: 15px 20px;
    align-items: center;
    justify-content: center;
}
.d-inlineB {
    display: inline-block;
}
.form-container{
    color: #B91450;
}
form input, form select{
    border-radius: 4px;
    padding: 5px 8px;
    margin-top: 15px;
}
form label{
    text-align: center;
}
.btn {
    color: #B91450;
    background-color: #e7e4e4;
    border-color:  #e7e4e4;
    padding: 5px 8px;
    border-radius: 4px;
    margin: 15px;
    
}
.btn:hover{
    background-color: rgba(231, 228, 228, 0.5);
}
.box-biglietto{
    flex-basis: 25%;
}
.box-form{
    margin: auto;
    flex: 1 1 auto;
}
.d-hidden{
    display: none;
}
#printed-ticket{
    padding: 30px 10px;
}
#name-section{
    flex-grow: 2;
}
.box-biglietto{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    padding: 15px;
}